{{#isRegularUser role}}
	{{#each schedules}}
	{{#if adminApproved}}
	<div class='col-xs-12 col-ms-6 col-sm-6 col-md-6 col-lg-7 tile-container' id='schedule-container-{{_id}}'>
	  <div class='tile schedule-tile' name="schedule-{{_id}}" data-id='{{_id}}'>
	  	<div class='tile-icon' style='float: left'><img class='icon' src="/images/schedule.gif" style="margin-left: 10px;"></img></div>
	  	<div class='schedule-header tile-header'>
	    	<table class="table table-hover" id='{{_id}}-profile'>
			  <tbody>
			    <tr><th>Course</th><td>
			    	{{course}}
			    </td>
			    <tr><th>Student</th><td>{{#isStudent ../role}}You{{else}}{{student.firstName}} {{student.lastName}}{{/isStudent}}</td>
			    <tr><th>Tutor</th><td>{{#isTutor ../role}}You{{else}}{{tutor.firstName}} {{tutor.lastName}}{{/isTutor}}</td>
			    <tr><th>Student Coordinator</th><td>
			    	{{#if studentCoord}}
			    		{{#isCoordinator ../role}}
			    			{{#equalStrings ../username studentCoord.username}}You{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}{{/equalStrings}}
			    		{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}
			    		{{/isCoordinator}}
			    	{{else}}
			    		N/A
			    	{{/if}}
			    </td>
			    <tr><th>Tutor Coordinator</th><td>
			    	{{#if tutorCoord}}
			    		{{#isCoordinator ../role}}
			    			{{#equalStrings ../username tutorCoord.username}}You{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}{{/equalStrings}}
			    		{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}
			    		{{/isCoordinator}}</td>
			    	{{else}}
			    		N/A
			    	{{/if}}
			    <tr><th>Student Schedule</th><td>{{summarizeSchedule studentClassSchedule}}</td>
			    <tr><th>Tutor Schedule</th><td>
			    	{{#eachFormatedTutorSchedule tutorClassSchedule}}
			    		{{this}}<br>
			    	{{/eachFormatedTutorSchedule}}
			    </td>
			  </tbody>
			  </table>
	    </div>
	    </div>
	</div>
	{{/if}}
	{{/each}}
{{else}}
<div id="deliveries-table-div">
  <table id="master-schedule-table" class="table table-hover">
    <thead>
      <tr>
        {{> masterScheduleHeadings}}
      </tr>
    </thead>
    <tbody>
      {{#each schedules}}
      	{{#if adminApproved}}
      		<tr>
        	<td>{{course}}</td>
			<td>
				{{student.firstName}} {{student.lastName}}
			</td>
			<td>{{tutor.firstName}} {{tutor.lastName}}
			</td>
			<td>
				{{student.email}}
			</td>
			<td>
				{{tutor.email}}
			</td>
			<td>
				{{student.region}}, {{student.country}}
			</td>
			<td>
				{{tutor.region}}, {{tutor.country}}		
			</td>
			<td>
				{{#if studentCoord}}
					{{#isCoordinator ../role}}
						{{#equalStrings ../username studentCoord.username}}You{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}{{/equalStrings}}
					{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}
					{{/isCoordinator}}
				{{else}}
					N/A
				{{/if}}
			</td>
			<td>
				{{#if tutorCoord}}
					{{#isCoordinator ../role}}
						{{#equalStrings ../username tutorCoord.username}}You{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}{{/equalStrings}}
					{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}
					{{/isCoordinator}}</td>
				{{else}}
					N/A
				{{/if}}
			<td>{{summarizeSchedule studentClassSchedule}}</td>
			<td>
				{{#eachFormatedTutorSchedule tutorClassSchedule}}
					{{this}}<br>
				{{/eachFormatedTutorSchedule}}
			</td>
			<td>
				{{firstDateTimeUTC.[0]}}
			</td>
			<td>
				{{lastDateTimeUTC.[0]}}
			</td>
			</tr>
		{{/if}}
      {{/each}}
    </tbody>
  </table>
  <a href='#' id='export-csv-button' class='btn btn-info btn-hg export'>Download CSV</a>
</div>
{{/isRegularUser}}