<table class="table table-hover" id='{{_id}}-profile'>
  <tbody>
    {{#isRegularUser role}}
      <tr><th>Full Name</th><td>{{#if fullName}}{{fullName}}{{else}}{{firstName}} {{lastName}}{{/if}}</td>
      <tr><th>School</th><td>{{school}}</td>
      <tr><th>Country</th><td>{{country}}</td>
      <tr><th>Interests</th><td>{{interests}}</td>
      <tr><th>Email Address</th><td>{{email}}</td>
    {{else}}
      <tr><th>Full Name</th><td>{{#if fullName}}{{fullName}}{{else}}{{firstName}} {{lastName}}{{/if}}</td>
      <tr><th>Email Address</th><td>{{email}}</td>
      {{#notNotApplicable schoolInCharge}}
        <tr><th>School in Charge</th><td>{{schoolInCharge}}</td>
      {{/notNotApplicable}}
      {{#notNotApplicable regionInCharge}}
        <tr><th>Region in Charge</th><td>{{regionInCharge}}</td>
      {{/notNotApplicable}}
      {{#notNotApplicable countryInCharge}}
        <tr><th>Country in Charge</th><td>{{countryInCharge}}</td>
      {{/notNotApplicable}}
    {{/isRegularUser}}
   </tbody>
  </table>