<script src="/javascripts/vendor/crs.min.js"></script>
<script src="/javascripts/signUpFormValidation.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/vendor/bower_components/angular-timezone-selector/dist/angular-timezone-selector.css">
<div ng-app="timezoneSelect" ng-controller="tzControl">
<script src="/javascripts/signup.js"></script>
<div id="register-modal" class="modal fade" role="dialog">
  <div class="modal-messages"></div>
  <div class="modal-dialog register-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <form id='register-form' action='/signup' method='post'>
          <input type="hidden" value="{[{timezone}]}" name="timezone">
          <input type="hidden" value="{{passwordRegex}}" name="passwordRegex" id="passwordRegex">
          <input type="hidden" value="{{emailRegex}}" name="emailRegex" id="emailRegex">
          <input type="hidden" value="{{notAllowedRegex}}" name="notAllowedRegex" id="notAllowedRegex">
          <div class='row'>
            <div class='col-xs-10 col-md-10'>
              <div class="form-group">
                  <label class="control-label">Register as*</label>
                  <div>
                    <select id= "userType" name='userType' class='form-control signup-input role' required>
                    <option>Sign up as...</option>
                    {{#each userTypes}}
                        <option>{{this}}</option>
                      {{/each}}
                  </select>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            {{> introduction}}
            <br>
            <div class='row'>
              <div class='col-xs-10 col-md-10'>
                <div class="form-group">
                  <label class="control-label">Username*</label>
                  <div>
                    <input id='username-register-box' class='form-control signup-input' type='text' name='username' placeholder='username' required></input>
                  </div>
                  <div class="formErr" id ="usernameErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Password*</label>
                  <div>
                    <input id='password-register-box' class='form-control signup-input' type='password' name='password' placeholder='password' required></input>
                  </div>
                  <div class="formErr" id="pwErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Confirm Password*</label>
                  <div>
                    <input id='confirm-password-register-box' class='form-control signup-input' type='password' name='confirmPassword' placeholder='confirm password' required></input>
                  </div>
                  <div class="formErr" id="pwConErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Email Address*</label>
                  <div>
                    <input id='email-register-box' class='form-control signup-input' type='email' name='email' placeholder='email address' required></input>
                  </div>
                  <div class="formErr" id="emailErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Alternative Email Address</label>
                  <div>
                    <input id='alternative-email-register-box' class='form-control signup-input' type='email' name='alternativeEmail' placeholder='alternative email address'></input>
                  </div>
                  <div class="formErr" id="emailErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">First Name*</label>
                  <div>
                    <input id='firstName-register-box' class='form-control signup-input' type='text' name='firstName' placeholder='first name' required></input>
                  </div>
                  <div class="formErr" id="firstNameErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Middle Name or Initial</label>
                  <div>
                    <input id='middleName-register-box' class='form-control signup-input' type='text' name='middleName' placeholder='middle name'></input>
                  </div>
                  <div class="formErr" id="middleNameErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Last Name*</label>
                  <div>
                    <input id='lastName-register-box' class='form-control signup-input' type='text' name='lastName' placeholder='last name' required></input>
                  </div>
                  <div class="formErr" id="lastNameErrors"></div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Nickname</label>
                  <div>
                    <input id='nickName-register-box' class='form-control signup-input' type='text' name='nickname' placeholder='nickname'></input>
                  </div>
                  <div class="formErr" id="nickNameErrors"></div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Gender*</label>
                  <div>
                    <select id= 'gender' name='gender' class='form-control signup-input' required>
                      <option>Select your gender...</option>
                      {{#each genders}}
                        <option>{{this}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Date of Birth*</label>
                  <div>
                    <input id='dob-register-box' class='form-control signup-input' type='date' name='dateOfBirth' placeholder='Date of Birth' required></input>
                  </div>
                  <div class="formErr" id="DOBErrors"></div>
                </div>
                <div class="form-group">
                  <label class="control-label">Phone Number*</label>
                  <div>
                    <input id='phone-number-box' class='form-control signup-input' type='text' name='phoneNumber' placeholder='phone number' required></input>
                  </div>
                  <div class="formErr" id="phoneNumErrors"></div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Skype ID</label>
                  <div>
                    <input id='skypeId-register-box' class='form-control signup-input' type='text' name='skypeId' placeholder='skype ID'></input>
                  </div>
                  <div class="formErr" id="skypeErrors"></div>
                </div>
                <div class='multiple-choice student tutor'>
                  <div id='student-schools' class="form-group student">
                    <label class="control-label">School/Institution*</label>
                    <div>
                      <select id='studentSchool' name='studentSchool' class='form-control signup-input choices' required>
                      <option>Select your school...</option>
                      {{#each studentSchools}}
                        <option> {{this}} </option>
                      {{/each}}
                    </select>
                    </div>
                  </div>
                  <div id='tutor-schools' class="form-group tutor admin coordinator">
                    <label class="control-label">School/Institution*</label>
                    <div>
                      <select id="tutorSchool" name='tutorSchool' class='form-control signup-input' required>
                      <option>Select your school...</option>
                      {{#each tutorSchools}}
                        <option>{{this}}</option>
                      {{/each}}
                    </select>
                    </div>
                  </div>
                  <div class="other form-group">
                    <label class="control-label">Please specify</label>
                    <div>
                      <input id='other-school-register-box' class='form-control signup-input' type='text' name='school' placeholder='school'></input>
                    </div>
                  </div>
                </div>
                <div id='student-education-level' class="form-group student">
                  <label class="control-label">Education Level (Current or Highest Completed)*</label>
                  <div>
                    <select name='studentEducationLevel' class='form-control signup-input' required>
                    <option>Select Your Education Level..</option>
                    {{#each studentEducationLevels}}
                      <option>{{this}}</option>
                    {{/each}}
                  </select>
                  </div>
                </div>
                <div id='tutor-education-level' class="form-group tutor">
                  <label class="control-label">Educational Class or Grade (Current or Highest Completed)*</label>
                  <div>
                    <select name='tutorEducationLevel' class='form-control signup-input' required>
                    <option>Select Your Education Level..</option>
                    {{#each tutorEducationLevels}}
                      <option>{{this}}</option>
                    {{/each}}
                  </select>
                  </div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Are you currently enrolled in school?*</label>
                  <div>
                    <select name='enrolled' class='form-control signup-input' required>
                      {{#each confirmation}}
                      <option>{{this}}</option>
                    {{/each}}
                    </select>
                  </div>
                </div>
                <div class='multiple-choice'>
                  <div class="form-group tutor">
                    <label class="control-label">Major*</label>
                    <div>
                      <select id='major-register-box' name='major' class='form-control signup-input' required>
                      <option>Select Your Major...</option>  
                        <!--try-->
                        {{#each majors}}
                          <option>{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="other form-group">
                    <label class="control-label">Please specify</label>
                    <div>
                      <input id='major-register-box' class='form-control signup-input' type='text' name='major' placeholder='major'></input>
                    </div>
                  </div>
                </div>
                <div class="form-group tutor student">
                  <label class="control-label">Nationality*</label>
                  <div>
                    <input id='nationality-register-box' class='form-control signup-input' type='text' name='nationality' placeholder='nationality' required></input>
                  </div>
                  <div class="formErr" id="nationalityErrors"></div>
                </div>

                <div class='student tutor'>
                  <div class="form-group country" >
                    <label class="control-label">Country*</label>
                    <div>
                      <!--Source: https://github.com/benkeen/country-region-selector-->
                      <select name="country" class="form-control signup-input crs-country" data-region-id="regionHere" required></select>
                    </div>
                  </div>
                  <div class="form-group region">
                    <label class="control-label">Region*</label>
                    <div>
                      <select name="region" class='form-control signup-input ' id="regionHere" required></select>
                    </div>
                  </div>
                </div>

                <div class="form-group student tutor">
                  <label class="control-label">Select your timezone*: <b>{[{timezone}]}</b></label>
                  <div>
                    <timezone-selector ng-model="timezone"/>
                  </div>
                  <div class="formErr" id="timezoneErrors"></div>
                </div>
                <div class='mulitple-choice'>
                  <div class="form-group tutor student">
                    <label class="control-label">Interests*</label>
                    <div>
                      <select multiple name='interests' class='form-control signup-input choices' required>
                        <option>Please Select Your Interests...</option>
                        {{#each interests}}
                        <option>{{this}}</option>
                      {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="other form-group">
                    <label class="control-label">If you listed "Other" for Interests, please specify</label>
                    <div>
                      <input id='other-interest-register-box' class='form-control signup-input' type='text' name='interests' placeholder='interest'></input>
                    </div>
                  </div>
                </div>
                <div class="form-group in-charge coordinator">
                  <label class="control-label">Which of the following are you in charge of?</label>
                  <div>
                    <div class="radio">
                      <label><input type="radio" name="in-charge" value='School'>School</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="in-charge" value='Region'>Region</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="in-charge" value='Country'>Country</label>
                    </div>
                  </div>
                </div>

                <div id='in-charge-of'></div>

                <div class='form-group in-charge coordinator' id="incharge">
                  <div class="form-group country" >
                    <label class="control-label">Country*</label>
                    <div>
                      <!--Source: https://github.com/benkeen/country-region-selector-->
                      <select name="countryInCharge" class="form-control signup-input crs-country" data-region-id="regionHere2" required></select>
                    </div>
                  </div>
                  <div class="form-group region">
                    <label class="control-label" id="regionLabel">Region*</label>
                    <div>
                      <select name="regionInCharge" class='form-control signup-input ' id="regionHere2"></select>

                    </div>
                  </div>
                </div>

<!--
                <div id='in-charge-of-container'>
                  <div id='in-charge-of'>
                  </div>
                  <div class="other form-group">
                    <label class="control-label">Please specify</label>
                    <div>
                      <input id='other-school-in-charge-register-box' class='form-control signup-input' type='text' name='schoolInCharge' placeholder='school'></input>
                    </div>
                  </div>
                </div>
                -->

              </div>
            </div>
            {{> agreements}}
            <input type="button" id='register-button' class='btn btn-primary btn-lg' value="Sign Up">
        </form>
      </div> 
    </div>
    </div>
  </div>
</div>


<!--javascript files needed for running the timezone menu-->
<script type="text/javascript" src='/javascripts/vendor/bower_components/jquery/dist/jquery.min.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/moment/moment.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/moment-timezone/builds/moment-timezone-with-data.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/chosen/chosen.jquery.min.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/lodash/dist/lodash.min.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/angular/angular.js'></script>
<script type="text/javascript" src='/javascripts/vendor/bower_components/angular-timezone-selector/dist/angular-timezone-selector.js'></script>
<script type="text/javascript" src='/javascripts/timezoneApp.js'></script>
