<script src='/javascripts/dashboard.js'></script>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='dashboard-content'>
{{#if isTutor}}
Hi {{fullName}}, you are logged in as a tutor
{{else}}
Hi {{fullName}}, you are logged in as a student
{{/if}}

{{#if registrations}}
    {{#each registrations}}
    <p>{{this}}</p>
    {{/each}}
{{/if}}

</div>
</div>