<script src='/javascripts/dashboard.js'></script>
<script src='/javascripts/login.js'></script>
<link rel="stylesheet" href="/stylesheets/dashboard.css"/>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='dashboard-content'>
<input type="hidden" id='username' name="username" value="{{username}}">
{{#isRegularUser role}}
<div class='row' id="registrations">
	<span class='title-toggle' id='registrations-toggle' data-toggle="collapse" data-target="#dashboard-registrations"><h3>Pending Registrations<span class="badge hide notifs-count"></span>
	<span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span></h3></span>
  	<div id='dashboard-registrations' class='collapse in'>
      {{> registrations}}
  	</div>
</div>
{{/isRegularUser}}
{{#isAdministrator role}}
<div class='row' id="pending-requests">
	<span class='title-toggle' id='pendingRegistrations-toggle' data-toggle="collapse" data-target="#dashboard-pendingRegistrations"><h3>Pending Requests<span class="badge hide notifs-count"></span>
	<span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span></h3></span>
  	<div id='dashboard-pendingRegistrations' class='collapse in'>
      {{#if pendingRquests}}
  		  {{> pendingRequests}}
      {{else}}
      {{/if}}
  	</div>
 </div>
 <div class='row' id="schedules">
  <span class='title-toggle' id='schedules-toggle' data-toggle="collapse" data-target="#dashboard-schedules"><h3>Pending Schedules<span class="badge hide notifs-count"></span>
  <span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span></h3></span>
    <div id='dashboard-schedules' class='collapse in'>
      {{#if schedules}}
        {{> pendingSchedules}}
      {{else}}
      {{/if}}
    </div>
 </div>
{{/isAdministrator}}
<div class='row' id="schedules">
  <span class='title-toggle' id='schedules-toggle' data-toggle="collapse" data-target="#dashboard-schedules"><h3>Schedules<span class="badge hide notifs-count"></span>
  <span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span></h3></span>
    <div id='dashboard-schedules' class='collapse in'>
      {{#if schedules}}
        {{> schedules}}
      {{else}}
        <div id='search-message'>
          <center>No Results</center>
        </div>
      {{/if}}
    </div>
</div>
</div>
</div>