<script src='javascripts/faq.js'></script>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='faq-content'>
	<div class = 'user Question'>
		<div>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<span class='question'>Q: How do I schedule a weekly meeting with a {{user}}?</span><br><br>
  			<span class='answer'>A: Click on the registration tab in the navigation bar at the top of the screen. Follow the instructions on the page to fill out your availibility and fill out all the other fields. Submit the registration. You are now in the matching pool! you will be notified when you are matched with a {{user}}.</span><br><br><br>
  		</div>
  		<div>
  			<input type="hidden" name="_csrf" value="{{csrfToken}}">
  			<span class= 'question'> Q: How do I update a previous registration?</span><br><br>
  			<span class='answer'> A: If you have created a previous registration, it will appear In your user dashboard (the first page you see when you log in). To update your registration, click on the edit button on that registration and change anything that you need to.</span> 
  		</div>
  		<div>
  			<input type="hidden" name="_csrf" value="{{csrfToken}}">
  			<span class= 'question'> Q: How do I delete a previous registration?</span><br><br>
  			<span class='answer'> A: Click on the edit button for that registration in your dashboard, and then at the bottom of the edit registration page, click delete. </span> <br><br><br>
  		</div>
  	</div>
  	<div class= 'coordinator Questions'>
  		<div>
  			<input type="hidden" name="_csrf" value="{{csrfToken}}">
  		</div>
  	</div>
  	<div class ='admin Questions'>
  		<div>
  			<input type="hidden" name="_csrf" value="{{csrfToken}}">
  			<span class= 'question'> Q: How do I run the Scheduling Alghorithm?</span><br><br>
  			<span class= 'answer'> A: Click on the settings tab in the navigation bar at the top of the page. At the bottom of the settings page, there will be two buttons under "Manage Scheduler". The button that says "Run Once Now" runs the scheduling algorithm once at that time. The second button turns the automatic features of the scheduling algorithm on, so that it will run on its own every week.</span>
  		<div>
</div>
</div>