<link rel="stylesheet" href="/stylesheets/home.css"/>
<script src='/javascripts/login.js'></script>
<div>
  <div class="container welcome-container">
    <center><b><h3>Welcome to {{title}}</h3></b></center><br>
    <div class="row">
      <div>
        {{#if verificationToken}}
          <div>
            <br><br class='hidden-xs hidden-ms'>
            <input id='username' type="hidden" value="{{username}}"></input>
            <input id='verificationToken' type="hidden" value="{{verificationToken}}"></input>
            <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id='verify-button' class='btn btn-primary btn-hg'>Verify Account</button>
          </div>
        {{else if requestToken}}
          <div>
            <br><br class='hidden-xs hidden-ms'>
            <input id='username' type="hidden" value="{{username}}"></input>
            <input id='requestToken' type="hidden" value="{{requestToken}}"></input>
            <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id='approve-button' class='btn btn-primary btn-hg'>Approve</button>
            <button id='reject-button' class='btn btn-primary btn-hg'>Reject</button>
            <button id='waitlist-button' class='btn btn-primary btn-hg'>Waitlist</button>
          </div>
        {{else if isValidAccount}}
          <div class="login-warning">
            {{message}}
          </div>
          <form id='verification-form' action='/verify/{{username}}/resend' method='get'>
            <input id='send-verification-button' class='btn btn-primary btn-hg' type='submit' value='Send Verification Email'></input>
          </form>
        {{else}}
          {{>login_register}}
          {{> signup}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

