<link rel="stylesheet" href="/stylesheets/profile.css">
<script src='/javascripts/profile.js'></script>
<h1>{{title}}</h1>
<div class='content' id='profile-table-container'>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Username</th>
        <td id=username'>{{username}}</td>
      </tr>
      <tr>
        <th>Role</th>
        {{#if isTutor}}
        <td>Tutor</td>
        {{else}}
        <td>Student</td>
        {{/if}} 
      </tr>
      <tr>
        <th>Full Name</th>
        <td>{{fullName}}</td>
      </tr>
        <th>Email Address</th>
        <td>{{email}}</td>
      <tr>
        {{#if tutor}}
        </tr> <!-- TODO Load class info -->
            <th>Tutoring</th>
            <td>Elementary English</td>
            <td>Student: [unknown]</td>
            <td>Meet Friday 3.00pm ET</td>
        <tr>
        {{else}}
        </tr> <!-- TODO Load class info -->
            <th>Registered Classes</th>
            <td>Elementary English</td>
            <td>Tutor: [unknown]</td>
            <td>Meet Friday 3.00pm ET</td>
        <tr>
        {{/if}}
      
    </tbody>
  </table>
</div>