<link rel="stylesheet" href="/stylesheets/profile.css">
<script src='/javascripts/profile.js'></script>
<div class='tab-content'>
<h1>{{title}}</h1>
<div class='content' id='profile-table-container-{{_id}}'>
  <table class="table table-hover">
    <tbody>
      {{#isRegularUser role}}
        <tr><th>Full Name</th><td>{{fullName}}</td>
        <tr><th>Role</th><td>{{role}}</td>
        <tr><th>Gender</th><td>{{gender}}</td>
        <tr><th>Date of Birth</th><td>{{dateOfBirth}}</td>
        <tr><th>School</th><td>{{school}}</td>
        <tr><th>Education Level</th><td>{{educationLevel}}</td>
        <tr><th>Major</th><td>{{major}}</td>
        <tr><th>Currently Enrolled</th><td>{{enrolled}}</td>
        <tr><th>Country</th><td>{{country}}</td>
        <tr><th>Region</th><td>{{region}}</td>
        <tr><th>Nationality</th><td>{{nationality}}</td>
        <tr><th>Interests</th><td>{{interests}}</td>
        <tr><th>Email Address</th><td>{{email}}</td>
        <tr><th>SkypeId</th><td>{{skypeId}}</td>
        <tr><th>Phone Number</th><td>{{phoneNumber}}</td>
      {{else}}
        <tr><th>Full Name</th><td>{{fullName}}</td>
        <tr><th>Role</th><td>{{role}}</td>
        <tr><th>Email Address</th><td>{{email}}</td>
        <tr><th>Phone Number</th><td>{{phoneNumber}}</td>
        {{#notNotApplicable schoolInCharge}}
          <tr><th>School in Charge</th><td>{{schoolInCharge}}</td>
        {{/notNotApplicable}}
        {{#notNotApplicable regionInCharge}}
          <tr><th>Region in Charge</th><td>{{regionInCharge}}</td>
        {{/notNotApplicable}}
        {{#notNotApplicable countryInCharge}}
          <tr><th>Country in Charge</th><td>{{countryInCharge}}</td>
        {{/notNotApplicable}}
      {{/isRegularUser}}
     </tbody>
  </table>
</div>
</div>