<link href="/stylesheets/availability_selection.css" rel="stylesheet">
<script src="/javascripts/vendor/jquery-3.1.1.min.js"></script><!-- load jquery -->
<script src="/javascripts/vendor/angular.min.js"></script><!-- load angular -->
<script src="/javascripts/update_registration.js" type="text/javascript"></script>
<script src="/javascripts/vendor/availability_selection.js" type="text/javascript"></script>
<h1>Update Your Registration</h1>
<p>What you see below is the availability and registration information we have on file for you. If you need to make any changes, please do so, and then click "save".</p>

<div ng-app="updateRegistration">
    <div ng-controller="mainController">
        <div id="day-schedule"></div>
        <!-- calander UI is populated here -->
         <form>
                <input type="hidden" id='csrf' name="_csrf" value="{{csrfToken}}">
                <input type="hidden" id="availability" name="availability" value="{{availability}}">
                <input type="hidden" id='oldGenderPref' name="oldGenderPref" value="{{oldGenderPref}}">
                <input type="hidden" id='oldCourses' name="oldCourses" value="{{oldCourses}}">
                <input type="hidden" id='oldStartTime' name="oldStartTime" value="{{oldStartTime}}">
                <input type="hidden" id='username' name="username" value="{{username}}">
                <input type="hidden" id='regId' name="regId" value="{{regId}}">
                <div class='row'>
                    <div class="form-group col-md-6">
                        <div class='mulitple-choice'>
                            <div class="form-group">
                                <label class="control-label">Select Courses You're Interested In</label>
                                    <div>
                                      <select id="courses" multiple name='courses' class='form-control signup-input choices'>
                                        {{#each courses}}
                                        <option>{{this}}</option>
                                      {{/each}}
                                      </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">{{#if isTutor}}Student's {{else}}Tutor's{{/if}} gender preference.</label>
                        <div>
                            <select name='genderPref' class='form-control' id="genderPref">
                                <option value="NONE">No Preference</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <label class="control-label">What is Your Earliest Possible Start Date?</label>
                <div>
                    <input id='earliestStartTime' type='date' name='earliestStartTime' placeholder='earliestStartTime' required></input>
                </div>
                <div class="form-group">
                     <input type="button" value="Save" id="target" ng-click="updateRegistration()">Save</input>   
                </div>
            </form>
    </div>
</div>