<link rel="stylesheet" href="/stylesheets/home.css"/>
<script src='javascripts/login.js'></script>
<script src='javascripts/home.js'></script>
<div>
  <div class="container welcome-container">
  {{#if fullName}}
  {{else}}
  <center><b><h3>Welcome to {{title}}</h3></b></center><br>
  {{/if}}
    <div class="row">
      <div>
        <div id='login-container'>
          <div id='login-logo'>
            <center><img src='/images/paxpopuli.png'></img></center>
          </div>
          <div class="login-warning">
            <center>{{message}}</center>
          </div>
          {{#if verificationToken}}
            <div>
              <br class='hidden-xs hidden-ms'>
              <input id='username' type="hidden" value="{{username}}"></input>
              <input id='verificationToken' type="hidden" value="{{verificationToken}}"></input>
              <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
              <center>
                <button id='verify-button' class='btn btn-primary btn-hg'>Verify Account</button>
              </center>
            </div>
          {{else if requestToken}}
            <div>
              <center>{{> profileTable user}}</center>
              <input id='username-{{user._id}}' type="hidden" value="{{username}}"></input>
              <input id='requestToken-{{user._id}}' type="hidden" value="{{requestToken}}"></input>
              <input id='csrf' type="hidden" name="_csrf" value="{{csrfToken}}">
              <center>
                <button id='approve-button-{{user._id}}' class='btn btn-success btn-hg approve-button'>Approve</button>
                <button id='reject-button-{{user._id}}' class='btn btn-danger btn-hg reject-button'>Reject</button>
                <button id='waitlist-button-{{user._id}}' class='btn btn-warning btn-hg waitlist-button'>Waitlist</button>
              </center>
            </div>
          {{else if archived}}
          {{else if isValidAccount}}
            <form id='verification-form' action='/verify/{{username}}/resend' method='get'>
              <center>
                <input id='send-verification-button' class='btn btn-primary btn-hg' type='submit' value='Send Verification Email'></input>
              </center>
            </form>
          {{else}}
            {{>login_register}}
            {{> signup}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

