{{#isRegularUser role}}
	{{#each schedules}}
	{{#if adminApproved}}
	<div class='col-xs-12 col-ms-6 col-sm-6 col-md-6 col-lg-7 tile-container' id='schedule-container-{{_id}}'>
	  <div class='tile schedule-tile' name="schedule-{{_id}}" data-id='{{_id}}'>
	  	<div class='tile-icon' style='float: left'><img class='icon' src="/images/schedule.gif"
                                                        style="margin-left: 10px;"/></div>
	  	<div class='schedule-header tile-header'>
	    	<table class="table table-hover" id='{{_id}}-profile'>
			  <tbody>
			    <tr><th>Course</th><td>
			    	{{course}}
			    </td>
			    <tr><th>Student</th><td>
			    	<a data-toggle="modal" data-target='#student-modal-{{_id}}'>
			    		{{#isStudent ../role}}You{{else}}{{student.firstName}} {{student.lastName}}{{/isStudent}}
			    	</a>
			    </td>
			    <tr><th>Tutor</th><td>
			    	<a data-toggle="modal" data-target='#tutor-modal-{{_id}}'>
			    		{{#isTutor ../role}}You{{else}}{{tutor.firstName}} {{tutor.lastName}}{{/isTutor}}
			    	</a>
			    </td>
			    <tr><th>Student Coordinator</th><td>
			    	{{#if studentCoord}}
			    		<a data-toggle="modal" data-target='#studentCoord-modal-{{_id}}'>
			    			{{#isCoordinator ../role}}
			    				{{#equalStrings ../username studentCoord.username}}You{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}{{/equalStrings}}
			    		{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}
			    		</a>
			    		{{/isCoordinator}}
			    	{{else}}
			    		N/A
			    	{{/if}}
			    </td>
			    <tr><th>Tutor Coordinator</th><td>
			    	{{#if tutorCoord}}
			    		<a data-toggle="modal" data-target='#tutorCoord-modal-{{_id}}'>
			    		{{#isCoordinator ../role}}
			    			{{#equalStrings ../username tutorCoord.username}}You{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}{{/equalStrings}}
			    		{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}
			    		{{/isCoordinator}}</td>
			    		</a>
			    	{{else}}
			    		N/A
			    	{{/if}}
			    <tr><th>Student Schedule</th><td>{{summarizeSchedule studentClassSchedule}}</td>
			    <tr><th>Tutor Schedule</th><td>
			    	{{#eachFormatedTutorSchedule tutorClassSchedule}}
			    		{{this}}<br>
			    	{{/eachFormatedTutorSchedule}}
			    </td>
			  </tbody>
			  </table>
	    </div>
	    </div>
	</div>
	<div id="student-modal-{{_id}}" class="pending-request-item-modal modal fade" role="dialog">
	  <div class="modal-messages"></div>
	  <div class="modal-dialog modal-xs">
	    <div class="modal-content">
	      <div class="modal-header modal-title">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        {{#if student.fullName}}{{student.fullName}}{{else}}{{student.firstName}} {{student.lastName}}{{/if}}'s Profile
	      </div>
	      <div class="modal-body">
	        {{> shortProfileTable student}}
	      </div>     
	    </div>
	  </div>
	</div> 
	<div id="tutor-modal-{{_id}}" class="pending-request-item-modal modal fade" role="dialog">
	  <div class="modal-messages"></div>
	  <div class="modal-dialog modal-xs">
	    <div class="modal-content">
	      <div class="modal-header modal-title">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        {{#if tutor.fullName}}{{tutor.fullName}}{{else}}{{tutor.firstName}} {{tutor.lastName}}{{/if}}'s Profile
	      </div>
	      <div class="modal-body">
	        {{> shortProfileTable tutor}}
	      </div>     
	    </div>
	  </div>
	</div>
	{{#if studentCoord}}
		<div id="studentCoord-modal-{{_id}}" class="pending-request-item-modal modal fade" role="dialog">
		  <div class="modal-messages"></div>
		  <div class="modal-dialog modal-xs">
		    <div class="modal-content">
		      <div class="modal-header modal-title">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        {{#if studentCoord.fullName}}{{studentCoord.fullName}}{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}{{/if}}'s Profile
		      </div>
		      <div class="modal-body">
		        {{> shortProfileTable studentCoord}}
		      </div>     
		    </div>
		  </div>
		</div>
	{{/if}}
	{{#if tutorCoord}}
		<div id="tutorCoord-modal-{{_id}}" class="pending-request-item-modal modal fade" role="dialog">
		  <div class="modal-messages"></div>
		  <div class="modal-dialog modal-xs">
		    <div class="modal-content">
		      <div class="modal-header modal-title">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        {{#if tutorCoord.fullName}}{{tutorCoord.fullName}}{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}{{/if}}'s Profile
		      </div>
		      <div class="modal-body">
		        {{> shortProfileTable tutorCoord}}
		      </div>     
		    </div>
		  </div>
		</div> 
	{{/if}}
	{{/if}}
	{{/each}}
{{else}}
<div id="deliveries-table-div">
  <table id="master-schedule-table" class="table table-hover">
    <thead>
      <tr>
        {{> masterScheduleHeadings}}
      </tr>
    </thead>
    <tbody>
      {{#each schedules}}
      	{{#if adminApproved}}
      		<tr>
        	<td>{{student.firstName}}-{{tutor.firstName}} {{course}}</td>
			<td>
				{{student.firstName}} {{student.lastName}}
			</td>
			<td>{{tutor.firstName}} {{tutor.lastName}}
			</td>
			<td>
				{{student.email}}
			</td>
			<td>
				{{tutor.email}}
			</td>
			<td>
				{{student.region}}, {{student.country}}
			</td>
			<td>
				{{tutor.region}}, {{tutor.country}}		
			</td>
			<td>
				{{#if studentCoord}}
					{{#isCoordinator ../role}}
						{{#equalStrings ../username studentCoord.username}}You{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}{{/equalStrings}}
					{{else}}{{studentCoord.firstName}} {{studentCoord.lastName}}
					{{/isCoordinator}}
				{{else}}
					N/A
				{{/if}}
			</td>
			<td>
				{{#if tutorCoord}}
					{{#isCoordinator ../role}}
						{{#equalStrings ../username tutorCoord.username}}You{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}{{/equalStrings}}
					{{else}}{{tutorCoord.firstName}} {{tutorCoord.lastName}}
					{{/isCoordinator}}</td>
				{{else}}
					N/A
				{{/if}}
			<td>{{summarizeSchedule studentClassSchedule}}</td>
			<td>
				{{#eachFormatedTutorSchedule tutorClassSchedule}}
					{{this}}<br>
				{{/eachFormatedTutorSchedule}}
			</td>
			<td>
				{{firstDateTimeUTC.[0]}}
			</td>
			<td>
				{{lastDateTimeUTC.[0]}}
			</td>
			</tr>
		{{/if}}
      {{/each}}
    </tbody>
  </table>
  <a href='#' id='export-csv-button' class='btn btn-info btn-hg export'>Download CSV</a>
</div>
{{/isRegularUser}}